#main-display {
    border: 2px black solid;
}

#search-by-name {
    width: 20vh;
}

#main-card {
    width : 40vh;
    border: 2px black solid;
}

.pokeCard {
    border: 2px black solid;
}

.arrow {
    height: 30vh;
}